*.pdb
*.manifest
*.press
*.vsp
*.[Cc]ache
*application

x64/
x86/
#Intentionally ignored [Rr]elease (Sort of a way to get an alpha build)
[Dd]ebug/

#Custom Specified
**/Assets/setting.txt
**/Assets/Log.csv
**/Assets/Log.db
*[Cc]ode[Aa]nalysis[Ll]og.xml
*.exe.lastcodeanalysissucceeded
LitDev.xml
SmallBasicLibrary.xml
app.publish/
DBM.exe.config
**/obj/**

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates