*.pdb
*.manifest
*.press
*.vsp
*.[Cc]ache
*application
*.psess

x64/
x86/
#Intentionally ignored [Rr]elease (Sort of a way to get an alpha build)
[Dd]ebug/

#Custom Specified
**/Assets/setting.txt
**/Assets/Log.csv
**/Assets/Log.db
*[Cc]ode[Aa]nalysis[Ll]og.xml
*.exe.lastcodeanalysissucceeded
LitDev.xml
SmallBasicLibrary.xml
app.publish/
DBM.exe.config
**/obj/**
*.driveupload

DBM/bin/Release/Assets/setting.xml
DBM/bin/Unified Personal Assets/Log.db
DBM/bin/Unified Personal Assets/
*Chart.html
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.ide-wal
.vs/DBM/v15/sqlite3/storage.ide-shm
